MONGO_CONNECTION_STRING=
MONGO_DATABASE=ShopNewDb

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

JWT_KEY=
JWT_ISSUER=ShopNew
JWT_AUDIENCE=ShopNewUsers

APP_BASE_URL=http://localhost:5276


